[Unit]
Description=Story Geth daemon
After=network-online.target

[Service]
User={{ ansible_env.USER }}
ExecStart={{ ansible_env.HOME }}/.crun/bins/{{ netname }}/{{ version }}/{{ binary}} --iliad --syncmode full --http --http.api eth,net,web3,engine --http.vhosts '*' --http.addr 0.0.0.0 --http.port 8545 --ws --ws.api eth,web3,net,txpool --ws.addr 0.0.0.0 --ws.port 8546
Restart=on-failure
RestartSec=3
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
